#N
clock
reset
io_cmdValid
io_cmdReady
io_cmdFunct.*
io_cmdRd.*

#W
io_cmdRs1.*
io_cmdRs2.*
io_respValid
io_respReady
io_respRd.*
io_respData.*
io_busy

#S
io_memReqValid
io_memReqReady
io_memReqWrite
io_memReqAddr.*
io_memReqMask.*

#E
io_memReqWdata.*
io_memRespValid
io_memRespReady
io_memRespData.*
io_memRespWriteAck
